html{
    background-color:  #50514F;
}
body{
    text-align: center;
}
form{
    border: 1px solid black;
    text-align: center;
    font-size: 40px;
    position: center;
    background-color: #F8F1FF;
    margin-left: 8rem;
    margin-right: 8rem;
}
.rNixon{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 100px;
    font-size: 35px;
    background: #FF101F;
    cursor: url("iconfinder_038_031_like_social_network_friends_android_material_1646933.png"), pointer;
}
.nixButton{
    text-decoration: none;
    cursor: url("iconfinder_038_031_like_social_network_friends_android_material_1646933.png"), pointer;
}
.nixon{
    cursor: url("iconfinder_038_031_like_social_network_friends_android_material_1646933.png"), pointer;
}
.mc{
    cursor: url("iconfinder_thumbs_up_dislike_5402429.png"),pointer;
}
.rMcGovern{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 100px;
    font-size: 30px;
    text-decoration: none;
    background: #6BBAEC;
    cursor: url("iconfinder_thumbs_up_dislike_5402429.png"),pointer;
}
div.col-1-1{width:100%}
html.home{
    background: #50514F;
}