html{
    background-color:  #d8e3e7;
}
body{
    text-align: center;
}
form{
    border: 1px solid black;
    text-align: center;
    font-size: 40px;
    background-color: azure;
    position: center;
    margin-left: 8rem;
    margin-right: 8rem;
}
.rNixon{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 100px;
    font-size: 35px;
}
.nixButton{
    text-decoration: none;
}
.nixon{
    border: 1px solid black;
}
.mc{
    border: 1px solid black;
}
.rMcGovern{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 100px;
    font-size: 30px;
    text-decoration: none;
}
div.col-1-1{width:100%}